/*
Stylesheet for the microsite - MAT22b class @DCI Oct/Nov 2019
Author: Raquel Dionísio
*/

/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');


/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navigation*/

a:hover{
    font-weight: bolder;

}

main a{
    text-decoration: none;
    color: #D96C00;
}


.foot-nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.foot-nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: 	#D96C00;
    padding: 3px 6px;
}


/*Color&Style*/


footer{
        background-color: #282828;
        color: #D96C00;
}

main {
    background-image: url(../img/courtney-hedger-t48eHCSCnds-unsplash.jpg);
    background-size: cover;
    background-position: top;
    color: #5b285c;
}

/*Typography*/
*{
    font-family: "Yeon Sung", "Helvetica", sans-serif;
}
main{
    font-size: 115%;
}


.foot-nav{
    font-size: 115%;
}


/*Layout*/

h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

main{
    height: 92vh;
    
    }

article {
    border-style: double;
    border-width: thick;
    border-color: #5b285c;
    border-radius: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 33%;
    padding: 5px 8px;
}

main p{
    padding: 5px 8px;
    padding-right: 0;
}

.signature{
    text-align: right;
}

.my-pic{
    border-radius: 7px;
    box-shadow: 5px 5px #C0C0C0;
    position: fixed;
    top: 0;
    margin-top: 25vh;
    margin-left: 15vw;
    transform: rotate(340deg);
  }

.other-pic
{
    border-radius: 7px;
    box-shadow: 5px 5px #C0C0C0;
    position: fixed;
    top: 0;
    margin-top: 25vh;
    margin-left: 73vw;
    transform: rotate(20deg);
  }

.foot-nav{
    width: 60vw
}


footer{
    height: 8vh;
    display: flex;
}

footer p{
    width: 40vw;
    text-align: right;
    padding-right: 10px;
}