/*
Stylesheet for the final project - MAT22b class @DCI Oct/Nov 2019
Author: Raquel Dionísio
*/



/*Imports*/
@import url('https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

/*Reset*/
@media only screen and (min-width: 992px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Headings*/

h1, h2{
    font-family: 'ZCOOL KuaiLe', cursive;

}

.writer h2{
    color: #8a4f82ff;
    font-size: 2em;
    padding-top: 6vh;
    position: fixed;
    padding-left: 1vw;

}

.dancer h2{
    color: #8a4f82ff;
    font-size: 2em;
    padding-top: 6vh;
    position: fixed;
    padding-left: 1vw;

}



/*Navigation*/
nav {
    position: fixed;
    z-index: 100;
    padding-top: 1vh;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

nav ul li {
   margin-right: 10px; 
}


nav ul li a {
    display: inline-block;
    font-family: 'ZCOOL KuaiLe', cursive;
    /*color: #DCF8FB;*/
    color: #ffebb1;
    padding: 3px 6px;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: bold;
    color: #ffbf00ff;
}

/*Color&Style*/

header{
    font-size: 1.5em;
}

h1{
    display: none;
}

.home main h2{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 11vw;
    color: #ffbf00ff;
}

.home{
    background-image: url(../img/orlova-maria-bU8TeXhsPcY-unsplash.jpg);
    background-size: cover;
    background-position: top;
}

.writer{
    background-image: url(../img/aaron-burden-y02jEX_B0O0-unsplash.jpg);
    background-size: cover;
    background-position: right;

}
.dancer{
    background-image: url(../img/ahmad-odeh-JhqhGfX_Wd8-unsplash.jpg);
    background-size: cover;
    background-position: center;

}

footer{
    background-color: #1B0809;
    color: #ffebb1;
}

/*Typography*/

footer p{
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1vw;
}

/*Layout*/

.writer header{
    height: 10vw;
}

.dancer header{
    height: 10vw;
}

body.writer{
    overflow-y: hidden;
}

body.dancer{
    overflow-y: hidden;
}

main{
    height: 73vh;
}

.home main{
    height: 95vh;
    overflow: hidden;
    position: relative;
}



.home main h2{
    padding-bottom: 0;
    position: absolute;
    top: 12vw;
    left: 6vw;
    text-align: center;
    text-shadow: 1.5px 1.5px #ffebb1;
    transform: rotate(350deg);
}

.home main h2:hover{
    transform: rotate(10deg);
}
/*
.deconstructing{
    top: 15vw;
    left: 6vw;
    transform: rotate(350deg);
}

.raquel{
    left: 50vw;
    top: 25vw;
    transform: rotate(350deg);
}
*/
footer{
    height: 5vh;
    display: flex;
    margin-top:auto; 
}

footer p{
    width: 100vw;
    text-align: right;
    padding-right: 10px;
}
/*Text*/

body{
    font-family: 'Heebo', sans-serif;
    color:#1B0809;
}

.writer article{
    width: 50%;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-left: 1vw;
    padding: 3px 6px 3px 15px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.8);
}
    
.writer article p{
    padding-bottom: 1em;
    padding-top: 0.5em;
    line-height: 1.3em;
}

.dancer article{
    width: 50%;
    font-size: 1.3em;
    line-height: 1.3em;
    margin-left: 1vw;
    padding: 3px 6px 3px 15px;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.7);
}
    
.dancer article p{
    padding-bottom: 1em;
    padding-top: 0.5em;
    line-height: 1.3em;
}
    